header{background: lightblue;
text-align: center;}

footer{background-color: lightblue;
text-align:center;}

a{ padding: 20px;}

hr{ border: none; border-top: 2px solid #000; width: 50%; margin: 20px auto;
}